  <div class="navbar nav-icon">
    <%= link_to root_path do  %>
    <%= image_tag "orange-home-icon.png",  alt: "home-icon" %>
    <% end %>
    <%= image_tag "orange-bar-code.png", alt: "scan-icon", id: "navbar-scanner"%>
  </div>

  <%= simple_form_for @scan, html: {class: "spicy-form"} do |f| %>
    <%= f.input :photo, input_html: {onchange: 'this.form.submit();'}, type: "file" %>
    <%= f.input :photo_cache, as: :hidden %>
  <% end %>
