<div class="back-img" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1533922922960-9fceb9ef4733?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="title">
    <h1 class="font-size">Looking<br>for a beer?</h1>
  </div>
  <div class="center-elements scanner">
    <%= image_tag "button-img.png", alt: "barcode", id: "barcode-picture-home"%>
    <%= simple_form_for @scan, html: {class: "spicy-form"} do |f| %>
    <%= f.input :photo, input_html: {onchange: 'this.form.submit();'}, type: "file" %>
    <%= f.input :photo_cache, as: :hidden %>
  <% end %>

  </div>
  <br>
  <br>
  <div class="center-elements">
    <%= render 'shared/search' %>
  </div>
</div>

