
<div class="card-index-container">
  <% @beers.each do |beer| %>
    <div class="card-index">
      <%= cl_image_tag("pixsnecvk3tu5ww0ucsj", class: "img-card-index") %>
        <div class="info-card-index">
          <h2><%= beer.name %></h2>
          <p>ABV : <%= beer.alcohol %>%</p>
          <p>Category : <%= beer.category.name %></p>
          <p>Country : <%= beer.brewery.country.name %></p>
          <div class="d-flex justify-content-center">
            <%= render 'star-form', beer: beer %>
          </div>
           <%= link_to "See more", beer_path(beer), class: "btn-hp-scan-share" %>
        </div>
      </div>
    <% end %>
  </div>



<%= form_tag beers_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a beer"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

