

 <% @beers.each do |beer| %>
    <h4><%= beer.name %></h4>
    <p><%= beer.alcohol %></p>
    <p><%= beer.ibu %></p>
    <p><%= beer.temperature %></p>
    <p><%= beer.beer_story %></p>
    <p><%= beer.category.name %></p>
    <p><%= beer.brewery.name %></p>
    <p><%= beer.brewery.country.name %></p>
  <%= cl_image_tag("pixsnecvk3tu5ww0ucsj",
      width: 400, height: 300, crop: :fill) %>
  <% end %>

<%= form_tag beers_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a beer"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

